rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /musicKitDeveloperTokens/{id} {
    	allow read: if true;
    }

    match /musicKitUserTokens/{id} {
        allow create: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
